---
permalink: /sitemap_en.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:coveo="https://www.coveo.com/en/company/about-us">
{%- for page in collections.workbookPagesEn %}
  <url>
    <loc>{{ (site.url + page.url) | escape }}</loc>
    <lastmod>{{ page.date | escape }}</lastmod>
    {%- if page.meta %}
    <coveo:metadata>
      {%- if page.meta.objecttype %}<objecttype>{{ page.meta.objecttype | escape }}</objecttype>{% endif %}
      {%- if page.meta.type %}<type>{{ page.meta.type | escape }}</type>{% endif %}
      {%- if page.meta.name %}<name>{{ page.meta.name | escape }}</name>{% endif %}
      {%- if page.meta.title %}<title>{{ page.meta.title | escape }}</title>{% endif %}
      {%- if page.meta.domain %}<domain>{{ page.meta.domain | escape }}</domain>{% endif %}
      {%- if page.meta.surface %}<surface>{{ page.meta.surface | escape }}</surface>{% endif %}
      {%- if page.meta.make %}<make>{{ page.meta.make | escape }}</make>{% endif %}
      {%- if page.meta.model %}<model>{{ page.meta.model | escape }}</model>{% endif %}
      {%- if page.meta.year %}<year>{{ page.meta.year | escape }}</year>{% endif %}
      {%- if page.meta.trim %}<trim>{{ page.meta.trim | escape }}</trim>{% endif %}
      {%- if page.meta.vehicle_key %}<vehicle_key>{{ page.meta.vehicle_key | escape }}</vehicle_key>{% endif %}
      {%- if page.meta.trim_key %}<trim_key>{{ page.meta.trim_key | escape }}</trim_key>{% endif %}
      {%- if page.meta.seating %}<seating>{{ page.meta.seating | join(";") | escape }}</seating>{% endif %}
      {%- if page.meta.body_styles %}<body_styles>{{ page.meta.body_styles | join(";") | escape }}</body_styles>{% endif %}
      {%- if page.meta.drivetrains %}<drivetrains>{{ page.meta.drivetrains | join(";") | escape }}</drivetrains>{% endif %}
      {%- if page.meta.fuel_type %}<fuel_type>{{ page.meta.fuel_type | join(";") | escape }}</fuel_type>{% endif %}
      {%- if page.meta.engines %}<engines>{{ page.meta.engines | join(";") | escape }}</engines>{% endif %}
    </coveo:metadata>
    {%- endif %}
  </url>
{%- endfor %}
</urlset>
